html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section {
  width: fit-content;
  max-width: 60%;
}

main {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

aside {
  width: 20%;
}

.app__title {
  font-size: 5rem;
  width: fit-content;
}

.item__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: 5rem;
}

.item__img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 2rem;
}

.image__container {
  position: relative;
}

.add__btn {
  position: absolute;
  width: 80%;
  right: 50%;
  bottom: -2.5rem;
  transform: translate(50%, 0);
  padding: 1rem 0;
  font-size: 2.5rem;
  border-radius: 2rem;
  background-color: #fff;
  border: solid 1px #444;
  transition: all 0.5s;
}

.add__btn:hover {
  cursor: pointer;
  border-color: rgb(229, 133, 30);
  color: rgb(229, 133, 30);
  transition: all 0.5s;
}

.info__container {
  margin-top: 3rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.category {
  color: #9e776b;
  font-weight: 100;
  margin-bottom: 1rem;
}

.price {
  color: rgb(229, 133, 30);
}

.cart {
  background-color: #e5d0b3;
  min-height: 60rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  height: fit-content;
}

.cart__counter {
  font-size: 3rem;
  color: rgb(229, 133, 30);
  margin-bottom: 2rem;
}

.cart__p {
  font-size: 2rem;
  text-align: center;
}

.cart__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cart__list__item {
  padding-bottom: 1rem;
  border-bottom: 1px solid #9e776b;
}

.title__container {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete__btn {
  border: none;
  background-color: transparent;
  font-size: 4rem;
  color: #e5851e;
  max-height: fit-content;
  cursor: pointer;
}

.price__container {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.price__container div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.amount__button {
  position: absolute;
  width: 80%;
  right: 50%;
  bottom: -2.5rem;
  transform: translate(50%, 0);
  padding: 1rem 1rem;
  font-size: 2.5rem;
  border-radius: 2rem;
  background-color: #fff;
  border: none;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
  background-color: #e5851e;
  color: white;
}

.amount__button svg {
  font-size: 3rem;
  border-radius: 50%;
  transition: all 0.5s;
}

.amount__button svg:hover {
  cursor: pointer;
  background-color: #fff;
  color: #e5851e;
  transition: all 0.5s;
}

.total__container {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}

.confirm__order__btn {
  background-color: #e5851e;
  font-size: 3rem;
  padding: 1.5rem 0;
  border-radius: 5rem;
  border: none;
  color: #fff;
}
